@model MaxProduct_OptimalPlan.Models.InputData
@{
    ViewBag.Title = "Max Product Plan";

  
}


<form action="/Home/Calc" method="post">

    <div>
        <h1 style="">Составление оптимального плана для максимального выпуска продукции</h1>

        <h1>Ограничения:</h1>
        <ul>
            <li>
                <label>Алюминий</label>
                @Html.EditorFor(x => x.Al_Constraint)
            </li>
            <li>
                <label>Медь</label>
                @Html.EditorFor(x => x.Med_Constraint)
            </li>
            <li>
                <label>Олово</label>
                @Html.EditorFor(x => x.Olovo_Constraint)
            </li>
            <li>
                <label>Цинк</label>
                @Html.EditorFor(x => x.Zink_Constraint)
            </li>
            <li>
                <label>Свинец</label>
                @Html.EditorFor(x => x.Svin_Constraint)
            </li>
        </ul>


        <h2>Продукты</h2>
        <div>
            <table>
                <thead>
                    <tr>
                        <th> Id </th>
                        <th> Al_usage </th>
                        <th> Cu_usage </th>
                        <th> Sn_usage </th>
                        <th> Zn_usage </th>
                        <th> Pb_usage </th>
                        <th> Cost </th>
                    </tr>
                </thead>
                <tbody id="dynamic">
                    @{
                        for (int i = 0; i < Model.products.Count; i++)
                        {
                            var row = Model.products.ElementAt(i);
                            <tr>
                                <td><input type="number" readonly="readonly" name="products[@i].xId" value="@row.xId" /></td>

                                <td><input type="number" name="products[@i].Al" value="@row.Al" /> </td>
                                <td><input type="number" name="products[@i].Med" value="@row.Med" /></td>
                                <td><input type="number" name="products[@i].Olovo" value="@row.Olovo" /></td>
                                <td><input type="number" name="products[@i].Zink" value="@row.Zink" /></td>
                                <td><input type="number" name="products[@i].Svin" value="@row.Svin" /></td>

                                <td><input type="number" name="products[@i].Cost" value="@row.Cost" /></td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>



        <button id="calc" type="submit">РАСЧЕТ</button>
    </div>


</form>


